@import "tailwindcss";
@import "tailwindcss-primeui";
@import "./theme/app.css";

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background: var(--p-surface-ground);
  color: var(--p-text-color);
}

#app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
/* style.css */

@layer primevue {
  /* Resuelve el conflicto entre min-width: 441px y width: 306px */
  .p-datepicker-panel {
    min-width: unset !important;
    width: auto !important;
    max-width: calc(100vw - 2rem);
  }
}

